
.header-text{
    color:#FF0000;
    text-align:right;
    margin-bottom:15px;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.header-profile{
    padding:10px;
}
.list-wrap{
    max-height: 220px;
    overflow-y:scroll;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: darkred;
}
.footer-container{
  padding-left:15px;
  padding-bottom:15px;
}
.footer-text{
  color:white;
  margin-bottom: 20px;
}

.footer-right{
  color:white;
  font-size: 13px;
  text-align: right;
  margin-top: -25px;
  margin-right: -85px;
}
.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.marquee h3 {
    font-size: 15px;
    color:darkred;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
0%   {
-moz-transform: translateX(100%); /* Firefox bug fix */
-webkit-transform: translateX(100%); /* Firefox bug fix */
transform: translateX(100%);
}
100% {
-moz-transform: translateX(-100%); /* Firefox bug fix */
-webkit-transform: translateX(-100%); /* Firefox bug fix */
transform: translateX(-100%);
}
}
.footer{
   position: fixed;
   padding:10px;
   width: 100%;
   color:white;
   background-color: darkred;
}
.footer p{
    text-align:left;
    padding-top: 10px;
    padding-left: 10px;
}
.footer p span{
    float:right;
}
